<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="vendor/autoload.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
    stopOnFailure="false"
    executionOrder="random"
    resolveDependencies="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="YiiDbMigration">
            <directory>./tests/Driver</directory>
            <directory>./tests/Migration</directory>
        </testsuite>
        <testsuite name="Mssql">
            <directory>./tests/Driver/Mssql</directory>
        </testsuite>
        <testsuite name="Pgsql">
            <directory>./tests/Driver/Pgsql</directory>
        </testsuite>
        <testsuite name="Sqlite">
            <directory>./tests/Driver/Sqlite</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
            <directory>./config</directory>
            <directory>./resources</directory>
        </include>
    </source>
</phpunit>
