<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Yii Db Migration Tests">
            <file>./tests/CreateCommandTest.php</file>
            <file>./tests/UpdateCommandTest.php</file>
            <file>./tests/HistoryCommandTest.php</file>
            <file>./tests/ListTablesCommandTest.php</file>
            <file>./tests/RedoCommandTest.php</file>
            <file>./tests/DownCommandTest.php</file>
            <file>./tests/NewCommandTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
